@use "node_modules/@talisoft/ui/styles/themes/styles.scss";
/* You can add global styles to this file, and also import other style files */

:root {
  --tas-color-primary: 134 42 87; // 181 42 87
  --tas-color-accent: 0 90 60; // green => #005a3c
  --tas-color-surface: #fdfdfd;
}
